assets/fonts/NotoSerifCJK.ttc/LICENSE_OFL.txt filter=lfs diff=lfs merge=lfs -text
assets/fonts/NotoSerifCJK.ttc/NotoSerifCJK.ttc filter=lfs diff=lfs merge=lfs -text
assets/fonts/NOtoSerif.ttc/LICENSE_OFL.txt filter=lfs diff=lfs merge=lfs -text
assets/fonts/NOtoSerif.ttc/NotoSerifCJK.ttc filter=lfs diff=lfs merge=lfs -text
assets/fonts/NotoSerif.ttc/LICENSE_OFL.txt filter=lfs diff=lfs merge=lfs -text
assets/fonts/NotoSerif.ttc/NotoSerifCJK.ttc filter=lfs diff=lfs merge=lfs -text
